<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
    {{ include('partials/_head.html.twig') }}
    <body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <div class="content-wrapper" id="login">
                <div class="login-box">
                    <form method="POST">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                        <div class="form-group mb-3">
                            <label for="inputEmail" class="form-label">Email/Téléphone</label>
                            <input type="text" name="matricule" id="inputEmail" class="form-control"  autofocus>
                        </div>

                        <div class="form-group mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label for="inputPassword" class="form-label">Mot de passe</label>
                                <a href="#" class="form-label forgot-password">Mot de passe oublié ?</a>
                            </div>
                            <div class="input-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" >
                                <span class="" onclick="togglePasswordVisibility()">
                                  <i  id="eyeIcon" class='bx bx-show-alt'></i>
                              </span>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </div>
                        <button class="action-button" type="submit">
                            <span>Se connecter</span>
                        </button>
                    </form>
                </div>
                <div class="content-backdrop fade"></div>
            </div>
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{{ asset('assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    <script src="{{ asset('assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{{ asset('assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>

    <!-- Main JS -->
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <!-- Page JS -->
    <script src="{{ asset('assets/js/dashboards-analytics.js') }}"></script>
    <script src="{{ asset('assets/js/ui-modals.js') }}"></script>


    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById("inputPassword");
            const eyeIcon = document.getElementById("eyeIcon");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
    </body>
</html>

