{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .status div.active{
            background: #E7F7EF;
            color: #0CAF60;
        }

        .status div.inactive{
            background: #FFF0F0;
            color: #FD6A6A;
        }
        .dropdown-toggle::after {
            display: none !important;
        }
    </style>
{% endblock %}


{% block _header %}
    {{ include('partials/_header_dashboard.html.twig', { title : "Demandes traitées"}) }}
{% endblock %}
{% block title %}Demande index{% endblock %}

{% block content %}
    <div  id="capteurs" class="container section flex-grow-1 container-p-y ">
        {% if demandes | length != 0 %}
            <div class="card pb-4">
                <div class="row row-bordered g-0">
                    <div class="col-md-12">
                        <div class="card-header">
                            <form action="" class="form-list">
                                <div class="row d-flex">
                                    <div class="col-8 search-button">
                                        <i class="bx bx-search"></i>
                                        <input type="text" class="form-control search-input" placeholder="Rechercher">
                                    </div>
                                    <div class="col-2">
                                        <a class="action-button filter-button">
                                            <i class="bx bx-filter"></i>
                                            <span>Filtrer</span>
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <a class="action-button">
                                            <i class="bx bx-download"></i>
                                            <span>Télecharger</span>
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="container mb-3">
                            <table class="table table-bordered">
                                <thead class="">
                                <tr class="text-center">
                                    <th>Réference</th>
                                    <th>Numéro de l'acte</th>
                                    <th>Date de demande</th>
                                    <th>Acte</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for demande in demandes %}
                                    <tr>
                                        <td>{{ demande.reference }}</td>
                                        <td> N°{{ demande.numeroActe.numeroActe }}</td>
                                        <td>{{ demande.dateSoumission | date("d/m/Y") }}</td>
                                        <td>
                                            <a href="" download="{{ asset('assets/uploads/'~ demande.numeroActe.copiePdf) }}"><i class="bx bx-show"></i></a>
                                        </td>
                                        <td>
                                            <div class="dropdown" >
                                                <i class="d-block dropdown-toggle text-center bx bx-dots-horizontal-rounded" data-bs-toggle="dropdown"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Détails</a></li>
                                                    <li><a class="dropdown-item">Annuler</a></li>
                                                    <li><a class="dropdown-item" >Commenter</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="align-items-center d-flex flex-column justify-content-center text-center no-data">
                <img src="{{ asset('assets/img/Frame 4455.png') }}" class="img-fluid " width="300vw" height="300vw" alt="">
                <div class="container">
                    <p class="">Aucune demande traitée</p>
                </div>

            </div>
        {% endif %}

    </div>
{% endblock %}
